.td-page-meta--child { display: none !important; }
.td-page-meta--edit { display: none !important; }

.td-default main section {
    padding-top: 1rem !important;
    padding-bottom: 0 !important;
}

