+++
title = "VixenLights"
linkTitle = "VixenLights"

+++

{{< blocks/cover title="Welcome to Vixen Lights!" image_anchor="top" height="full" color="gray">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/VixenLights/vixen">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Vixen allows you to create amazing light shows for any holiday, event, or experience you can dream up. Teamed with readily available hardware, Vixen supports everything
you need to harness your creativity. 

Vixen is open source software distributed **free of charge**.
{{% /blocks/lead %}}

{{< blocks/section color="dark" height="auto" >}}
{{% blocks/feature icon="fa-lightbulb" title="Vixen 3.9u3 Released!" %}}
The Vixen team has released Vixen 3.9u3.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/VixenLights/vixen" %}}
We do a [Pull Request](https://github.com/VixenLights/vixen/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-facebook" title="Follow us on Facebook!" url="https://facebook.com/" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
