---
title: "Vixen Lights"
author: Vixen Team
description: "Vixen helps you to create amazing syncronized light shows for any holiday, event, or experience you can dream up. Teamed with readily available lights and hardware, Vixen supports everything
you need to harness your creativity and syncronize your lights to music. These shows are typlically seen at Christmas, but they have grown in popularity to other holidays and events."
---

{{< blocks/cover title="Welcome to Vixen Lights!" image_anchor="top" height="full" color="gray">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="/download">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Vixen helps you to create amazing syncronized light shows for any holiday, event, or experience you can dream up. Teamed with readily available lights and hardware, Vixen supports everything
you need to harness your creativity and syncronize your lights to music. These shows are typlically seen at Christmas, but they have grown in popularity to other holidays and events.

Vixen is open source software distributed **free of charge**.
{{% /blocks/lead %}}

{{< blocks/section color="dark" height="auto" type="row">}}

{{< blocks/feature-release icon="fa-lightbulb" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/VixenLights/vixen" %}}
We do a [Pull Request](https://github.com/VixenLights/vixen/pulls) contributions workflow on **GitHub**. New contributors are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-facebook" title="Follow us on Facebook!" url="https://www.facebook.com/v.lights.3" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
