{{ range first 1 (where site.Data.release.all "prerelease" "eq" true) }}

<div class="card mb-4 -bg-200 w-75">
    <div class="card-body">
        <h5 class="card-title">Version: {{ .name }}</h5>
        <h6 class="card-subtitle mb-3 text-muted">{{ (dateFormat ":date_long" (time .published_at).Local ) }}</h6>
        <ul class="list-group list-group-flush">
            {{ range .assets }}
                {{ if strings.HasSuffix .name "64bit.exe" }}
                    <p class="card-text">64 Bit Development Build</p>
                    <p class="card-text"><a href="{{ .browser_download_url }}" aria-label="{{ .name }}">{{ .name }}</a></p>
                {{ end }}
            {{ end }}
            {{ range .assets }}
                {{ if strings.HasSuffix .name "32bit.exe" }}
                    <p class="card-text">32 Bit Development Build</p>
                    <p class="card-text"><a href="{{ .browser_download_url }}" aria-label="{{ .name }}">{{ .name }}</a></p>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    
</div>

{{ end }}
